<div class="duo-block-section" style="">
  <div class="duo-block-container">
  {% for block in section.blocks %}
    {% case block.type%}
      {% when "image" %}
        <div
          class="duo-block-item image"
        >
          <div 
            class="duo-block-image" 
            style="background-image: url({{block.settings.image | img_url: 'master'}});
            background-position: 50% 45%;"
          ></div>
        </div>
      {% when "text" %}
        <div class="duo-block-item gris">
          <h2 class="duo-block__title">{{block.settings.title}}</h2>
          <h4 class="duo-block__subtitle">
            {{block.settings.paragraph}}
          </h4>
          <a
            class="duo-block__link"
            href="{{block.settings.btn_url}}"
            >{{block.settings.btn_text}}</a
          >
        </div>
    {% endcase%}
  {% endfor  %}
  </div>
</div>


{% schema %}
{
  "name": "Due Block",
  "class": "shopify-section--duo-block",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Text content"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Duo Block"
    }
  ]
}
{% endschema %}