<div class="duo-block-section" style="">
  <div class="duo-block-container">
  {% for block in section.blocks %}
    {% case block.type%}
      {% when "image" %}
        <div
          class="duo-block-item image"
        >
          <div 
            class="duo-block-image" 
            style="background-image: url({{block.settings.image | img_url: 'master'}});
            background-position: 50% 45%;"
          ></div>
        </div>
      {% when "text" %}
        <div class="duo-block-item text" style="background-color: {{block.settings.bg_color}};">
          <div class="duo-block-text" style="
            align-items: {{block.settings.horizontal_alignment}};
            justify-content: {{block.settings.vertical_alignment}};
          ">
            <h2 class="duo-block__title">{{block.settings.header}}</h2>
            <h4 class="duo-block__subtitle">
              {{block.settings.paragraph}}
            </h4>
            <a
              class="duo-block__link"
              href="{{block.settings.btn_url}}"
              >{{block.settings.btn_text}}</a
            >
          </div>
        </div>
    {% endcase%}
  {% endfor  %}
  </div>
</div>


{% schema %}
{
  "name": "Duo Block",
  "class": "shopify-section--duo-block",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "header",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Text content"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "color",
          "id": "bg_color",
          "label": "Background color",
          "default": "#eae7e4"
        },
        {
          "type": "select",
          "id": "horizontal_alignment",
          "label": "Horizontal Alignment",
          "default": "center",
          "options": [
            { "label": "Left", "value": "flex-start" },
            { "label": "Centered", "value": "center" },
            { "label": "Right", "value": "flex-end" }
          ]
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Vertical Alignment",
          "default": "space-between",
          "options": [
            { "label": "Space between", "value": "space-between" },
            { "label": "Centered", "value": "center" }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Duo Block"
    }
  ]
}
{% endschema %}