{%- layout 'password' -%}

{%- assign logo_width = section.settings.logo_width | append: 'px' -%}

{% comment %} image with text {% endcomment %}
{%- comment -%} Settings {%- endcomment -%}
{%- assign show_nav_arrows = section.settings.show_nav_arrows -%}
{%- assign dots_style = settings.dots_style -%}
{%- if dots_style == 'hidden' -%}
	{%- assign show_nav_dots = false -%}
{%- else -%}
	{%- assign show_nav_dots = true -%}
{%- endif -%}
{%- assign transition = section.settings.transition -%}
{%- assign autoplay = section.settings.autoplay -%}
{%- assign duration = section.settings.duration | times:1000 -%}
{%- assign fadeMode = true -%}
{%- if transition == 'slide' -%}
	{%- assign fadeMode = false -%}
{%- endif -%}
{%- assign hover = true -%}
{%- assign speed = 400 -%}
{%- assign transition_text = settings.transition_text -%}
{%- assign animation_delay = 0 -%}

{%- assign imagePosition = section.settings.slide_image_position | default: 'left' -%}
{%- assign imageWidth = section.settings.slide_image_width | split: '|' | first | default: 'med_s35' -%}
{%- assign contentWidth = section.settings.slide_image_width | split: '|' | last | default: 'med_s25' -%}

{%- comment -%} Check if Image Height setting is selected {%- endcomment -%}
{%- assign image_height = false -%}
{%- if section.settings.slide_height == 'original-height' -%}
{%- assign image_height = true -%}
{%- endif -%}

{%- comment -%} Content {%- endcomment -%}
{%- assign title = section.settings.title -%}
{%- assign subheading = section.settings.subheading -%}
{%- assign text = section.settings.content | truncatewords: 70 -%}
{%- assign button_text = section.settings.cta -%}
{%- assign button_link = section.settings.link -%}
{%- assign button_style = section.settings.button_style -%}
{% comment %} endof image with text {% endcomment %}

<style>
.logo__image-link { width: {{ logo_width }}; }
#gallery-module-{{ section.id }} .slick-arrow { color: {{ section.settings.color_style }}; }
#gallery-module-{{ section.id }} .slick-dots li { border-color: {{ section.settings.color_style }}; }
</style>

<div class="password__container" id="SiteContainer">
	<a href="#storefront-login" class="popup-trigger" data-popup-trigger="one" >
		Login with password
	</a> 

	<section class="gallery-wrap container-wrap" id="gallery-module-{{ section.id }}" data-section-type="gallery" data-dots-style="{{ dots_style }}">
		<div class="duo-block-section" style="">
			<div class="duo-block-container">
			{% for block in section.blocks %}
				{% case block.type%}
					{% when "image" %}
						<div
							class="duo-block-item image"
						>
							<div 
								class="duo-block-image" 
								style="background-image: url({{block.settings.image | img_url: 'master'}});"
							></div>
						</div>
					{% when "text" %}
						<div class="duo-block-item text" style="background-color: {{section.settings.bg_color}};">
							<div class="duo-block-text duo-text-horizontal--{{section.settings.horizontal_alignment}} duo-text-vertical--{{section.settings.vertical_alignment}}">
								{%- if subheading != blank -%}
										<p class="subheading-text{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
											{{- subheading -}}
										</p>
										{%- assign animation_delay = animation_delay | plus: 250 -%}
									{%- endif -%}

									{%- if title != blank -%}
										<h2{% if transition_text %} class="will-animate" data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
											{{- title -}}
										</h2>
										{%- assign animation_delay = animation_delay | plus: 250 -%}
									{%- endif -%}

									{%- if text != blank -%}
										<div class="gallery-content__text{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
											{{- text -}}
										</div>
										{%- assign animation_delay = animation_delay | plus: 250 -%}
									{%- endif -%}

									{%- if button_text != blank -%}
										<div class="gallery-content__button{% if transition_text %} will-animate{% endif %}"{% if transition_text %} data-animation="moPopUp" data-animation-delay="{{ animation_delay }}"{% endif %}>
											<a {% if button_link != blank %}href="{{ button_link }}"{% endif %} class="button button--{{ button_style }}">{{ button_text }}</a>
										</div>
									{%- endif -%}
								</div>
								<div class="logo__wrapper">
									{%- if section.settings.logo != blank -%}
										<div  class="logo">
											{%- assign image = section.settings.logo -%}
											{%- assign image_widths = '[295,394,590,700,800,1000,1200,1500,1800,2000,2400]' -%}
											{%- assign image_url_pattern = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

											<img
												class="logo__image-link lazyload"
												src="{{ 'blank.gif' | asset_img_url: '1x1' }}"
												data-src="{{ image_url_pattern }}"
												data-widths= "{{ image_widths }}"
												data-aspectratio="{{image.aspect_ratio }}"
												data-sizes="auto">
											<noscript>
												<img src="{{ section.settings.logo | img_url: '512x' }}" alt="{{ page.title | escape }}">
											</noscript>
										</div>
									{%- else -%}
										<h1 class="logo logo--text" itemscope itemtype="http://schema.org/Organization">
											<div>{{ shop.name | escape }}</div>
										</h1>
									{%- endif -%}
								</div>

								<h1>{{ 'password.content.welcome_headline' | t }}</h1>

								{% unless section.settings.text_newsletter == blank %}
									<div class="password__newsletter-text">
										{{ section.settings.text_newsletter }}
									</div>
								{% endunless %}
								
								<div class="signup-form">

								{%- form 'customer' -%}
									{%- unless shop.password_message == blank -%}
										{%- unless form.posted_successfully? -%}
											<p class="password__message">{{ shop.password_message }}</p>
										{%- endunless -%}
									{% endunless %}

									{%- if form.errors -%}
										<div class="feedback error p">
											{{ form.errors | default_errors }}
										</div>
									{%- endif -%}

									{%- if form.posted_successfully? -%}
										<p>{{ 'password.forms.success' | t }}</p>
									{%- else -%}
										<input type="hidden" name="contact[tags]" value="prospect, password page, newsletter subscriber">
										<div class="input-group{% if form.errors %} input-group--error{% endif %}">
											<p class="form-field form-field--email">
												<input type="email" name="contact[email]" id="email" class="email" placeholder="{{ 'password.forms.email_placeholder' | t }}"
												{%- if form.errors contains 'email' -%}
													aria-invalid="true"
												{%- endif -%}
												>
												<input type="hidden" id="newsletter-first-name" name="contact[first_name]" value="Newsletter" />
												<input type="hidden" id="newsletter-last-name" name="contact[last_name]" value="Subscriber" />
											</p>
											<p class="form-field form-field--submit">
												<input type="submit" value="{{ 'password.forms.call_to_action' | t }}" class="button submit">
											</p>
										</div>
									{%- endif -%}
								{%- endform -%}
							</div>
							</div>
						</div>
				{% endcase%}
			{% endfor  %}
			</div>
		</div>
	</section>
</div>

{% schema %}
{
	"name": "Password page",
	"class": "password",
	"settings": [
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Custom logo"
		},
		{
			"type": "range",
			"id": "logo_width",
			"label": "Custom logo width (in pixels)",
			"info": "Max logo height is 100px",
			"min": 50,
			"max": 400,
			"default": 100,
			"step": 5,
			"unit": "px"
		},
		{
			"type": "header",
			"content": "Newsletter"
		},
		{
			"type": "richtext",
			"id": "text_newsletter",
			"label": "Text"
		},
		{
			"type": "header",
			"content": "Newsletter Block Settings"
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background color",
			"default": "#eae7e4"
		},
		{
			"type": "select",
			"id": "horizontal_alignment",
			"label": "Horizontal Alignment",
			"default": "center",
			"options": [
				{ "label": "Left", "value": "flex-start" },
				{ "label": "Centered", "value": "center" },
				{ "label": "Right", "value": "flex-end" }
			]
		},
		{
			"type": "select",
			"id": "vertical_alignment",
			"label": "Vertical Alignment",
			"default": "space-between",
			"options": [
				{ "label": "Space between", "value": "space-between" },
				{ "label": "Centered", "value": "center" }
			]
		}
	],
	"blocks": [
		{
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
	]
}
{% endschema %}
